.company {
    padding-top: $mainPadding;
    padding-bottom: $mainPadding;
}

.company__topic {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;

    color: $color-textPrimary;
}

.company__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
    
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.company__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 3 * 30px) / 3);
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.company__link {
    width: 100%;
    height: 92px;
    border: 1px solid $color-socialIcons;
    border-radius: 4px;
    color: $color-socialIcons;

    @extend %displayFlexCenter;

    &:hover, &:focus {
        border: 1px solid $color-hover;
        color: $color-hover;
        @extend %animation;
    }
}


.company__icon {
    fill: currentColor;
}