footer {
    background: $color-backgroundFooter;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        margin-left: 0px;
    }
}

.footer-list {
    text-align: center;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
    
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.address__list {
    color: $color-white;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.02em;
    font-style: normal;

    margin-top: 20px;
}

.address__item {
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;
    }
    
}

.address__link {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);

    &:hover, &:focus {
        color: $color-hover;
        @extend %animation;
    }
}

.join {
    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 70px;
    }
}

.join__topic {
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        text-align: start;
    }
}

.social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__link {
    @extend %displayFlexCenter;
    color: $color-white;
    background-color: rgba(255, 255, 255, 0.1);

    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover, &:focus {
        background-color: $color-hover;
        @extend %animation;
    }
}

.social__link {
    margin-right: 10px;
    
    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
    fill: currentColor;
}

.subscribe {
    margin-top: 60px;
    
    @media screen and (min-width: 1200px) {
        display: inline-flex;
        flex-direction: column;
        margin-left: 93px;
        margin-top: 0;
    }
}

.subscribe__topic {
    color: $color-white;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.subscribe__form {
    margin-top: 20px;
    
    @media screen and (min-width: 1200px) {
        align-items: flex-start;
        display: flex;
    }
}

.subscribe__input {
    width: 100%;
    height: 50px;
    padding: 15px 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    background-color: $color-backgroundFooter;
    color: $color-textSecondary;

    @media screen and (min-width: 768px) {
        width: 450px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-right: 10px;
    }
}

.subscribe__button {
    margin-top: 20px;
    padding: 10px 28px;
    display: flex;
    min-width: 200px;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    background: $color-hover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;

    color: $color-white;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.subscribe__icon {
    fill: $color-white;
    margin-left: 10px;
}