header {
    border-bottom: 1px solid $color-borderHeader;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    
    @media screen and (min-width: 1200px) {
        justify-content: flex-start;
        padding-top: 0;
    }
}