// color

$color-textPrimary: #212121;
$color-textSecondary: #757575;

$color-borderJobs: #EEEEEE;
$color-borderHeader: #ececec;

$color-backgroundFooter: #2f303a;
$color-backgroundTeam: #F5F4FA;

$color-socialIcons: #afb1b8;

$color-hover: #2196F3;
$color-hover-dark: #188CE8;

$color-black: #000;
$color-white: #fff;

$fontMain: "Roboto", sans-serif;
$fontLogo: "Raleway", sans-serif;

$mainPadding: 94px;